

        <!-- Footer -->

<nav class="navbar navbar-static-bottom navbar-default" >
    <div class="container-fluid">
      <div class="navbar-text pull-left">
        <p class="horario-center text-center"> &copy; 2016 Vida Nueva</p>
      </div>
      <div class="navbar-text pull-right">
        <p class="horario-center"> Siguenos: &nbsp; &nbsp;
        <a class="footer-widget" href="https://www.facebook.com/groups/141167959358293/?fref=nf">
        <img class="footer-widget"title="Facebook" alt="Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/facebook1.png" width="35" height="35" />
        </a></p>
      </div>
    </div>
  </div>
</nav>
